@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .slider .swiper-pagination {
      @apply px-4 !bottom-10 !left-1/2 !w-auto !transform !-translate-x-1/2 !border !border-white !rounded-full;
    }
  
    .slider .swiper-pagination-bullet {
      @apply !bg-gray-400 !w-3 !h-3 !opacity-50 !transition-all mx-1;
    }
  
    .slider .swiper-pagination-bullet-active {
      @apply !bg-primary !opacity-100 !scale-125;
    }

    .slider .last_news_pagination_bullets {
      @apply relative !border !border-gray-400 !text-center !w-auto !mx-auto inline-block mt-14
    }
  }
  

body {
    font-family: "Fira Sans", serif;
    font-weight: 300;
}

.silver {
    background-color: #DFDFDF;
}

.text-color {
    color: #59A94E;
}
.bg-primary {
    background-color: #59A94E;
}

.border-primary {
    border: 1px solid #59A94E;
}

.last_news .ant-card-body {
  @apply !bg-gray-200
}






