@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Fira Sans", serif;
    font-weight: 300;
}

.silver {
    background-color: #DFDFDF;
}

.text-color {
    color: #59A94E;
}
.bg-primary {
    background-color: #59A94E;
}

.border-primary {
    border: 1px solid #59A94E;
}

