@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Fira Sans", serif;
    font-weight: 300;
}

.silver {
    background-color: #DFDFDF;
}

.text-color {
    color: #59A94E;
}
.bg-primary {
    background-color: #59A94E;
}

.border-primary {
    border: 1px solid #59A94E;
}

.slider .swiper-pagination {
    bottom: 50px !important;
    left: 50% !important;
    width: 100px !important;
    transform: translateX(-50%);
    border: 1px solid #fff;
    border-radius: 60px;
}

.slider .swiper-pagination-bullet-active {
    background: #fff !important;
}

